<section data-ng-controller="HomeController">
  <div class="jumbotron home-top">
      <div class="container">
        <h1><span class="purple">D</span>irty <span class="purple">D</span>iapers</h1>
        <p>Track your babies dirty diapers with just a click!</p>
        <p><a class="btn btn-primary btn-lg signin" href="/#!/signin" role="button">Sign-In &raquo;</a>
        <a class="btn btn-primary btn-lg signup" href="/#!/signup" role="button">Sign-Up &raquo;</a></p>
      </div>
    </div>

    <div class="container home-bottom">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="services">
          <h2>Like & Share</h2>
          <p>Sign in to like and share photos of your children, or simply connect with others and share your opinions.</p>
          <p><a class="btn btn-default" href="/#!/likeshare" role="button">View details &raquo;</a></p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="services">
          <h2>Tracking</h2>
          <p>Track their feeding times and track dirty or wet diapers with only a click. Recieve notifications when it may be advised you should consult with your pediatrician and schedule appointments.</p>
          <p><a class="btn btn-default" href="/#!/tracking" role="button">View details &raquo;</a></p>
       </div>
       </div>
        <div class="col-md-4">
          <div class="services">
          <h2>Connect</h2>
          <p>Find answers to your questions. Connects with doctors and view their profiles. Rate them and see how others rate their doctors.</p>
          <p><a class="btn btn-default" href="/#!/connect" role="button">View details &raquo;</a></p>
        </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Dirty Diapers 2015. All Rights Reserved</p>
      </footer>
    </div> <!-- /container -->
</section>