<section data-ng-controller="DiaperController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="diaper.name"></h1>
	</div>
	<div>
		Time: <h2 data-ng-bind="diaper.time"></h2>
	</div>
	<div>
		Bottle or Breast: <h2 data-ng-bind="diapers.bottle"></h2>
	</div>
	<div>
		Amount: <h2 data-ng-bind="diaper.amount"></h2>
	</div>
	<div>
		Comment: <h2 data-ng-bind="diaper.description"></h2>
	</div>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == diapers.user._id))">
		<a class="btn btn-primary" href="/#!/diapers/{{diaper._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="diapers.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="diapers.user.displayName"></span>
		</em>
	</small>
</section>
